{% include "clients-navbar.html" %}
<main style="display: flex">
   <div class="container px-5 my-5 border rounded bg-light pt-3">
     <table class="table">
       <thead class="thead-dark">
         <th scope="col">Id</th>
         <th scope="col">Nazwa restauracji</th>     
       </thead>
       <tbody>
         {% for restaurant in restaurants %}
         <!-- Client template -->
         <tr>
           <td>{{restaurant[0]}}</td>
           <td>{{restaurant[1]}}</td>    		   
         </tr>
        {% endfor %}
       </tbody>
     </table>
   </div>
</main>

{% include "clients-footer.html" %}